#red{
  color: red;
}

body > #logo, #buuk, #contain{
  border-radius: 20px;
  border: solid black 3px;
  margin-top: 10px;
  text-align: center;
}

form > #cred{
  color: white;
  font-size: 20px;
}

form > #email, #password{
  height: 25px;
  border-radius: 10px;
  border: solid black 3px;
}

#logo{
  width: 300px;
  margin: auto;
  height: 70px;
  font-size: 50px;
  text-align: center;
  padding: 5px;
  font-weight: 900;

}

#contain{
  width: 900px;
  margin: auto;
  margin-top: 10px;
  font-weight: 900;
}

#contain> #buuk{
  margin-left: 15px;
  margin-right: 15px;
  font-size: x-large;
}

form{
  line-height: 30px;
}
#Login{
  width: 100px;
  color: black;
  font-size: larger;
  font-weight: 900;
  border-radius: 20px;
  border: solid black 3px;
  background-color: #EEA820;
}

*{
  margin: 0;
}
.navlist{
  list-style-type: none;
  overflow: hidden;
  margin-left: 100px;
}
.navlist>li{
  float: left;
}
.navlist>li>a{
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  color: white;
}
.containerheader{
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.navlist>ul{}


.containerheader>h1{
  color:
  #FFA500;
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
}

.footer{
    height: 300px;
    border: solid black;
    color: #fff;
    background-color:black;
    margin-top: 10px;
}
.content{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto ));
}
.iconfooter{
    display: flex ;
    color: #fff;
    margin-top: 80px;
    gap: 20px;
}



a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: #FFA500;
}

.navlist>li>a:hover{
color: #EEA820;
}
  



